<style>
  input {
    background-color: #9a00ff;
    color: white;
    font-family: Poppins;
  }
  input:hover {
    background-color: #8900e2;
    color: white;
  }

  button {
    background-color: #ffffff;
    color: #8900e2;
    font-family: Poppins;
  }
  button:hover {
    background-color: #8900e2;
    color: white;
  }
</style>
<div
  class="d-flex justify-content-around align-items-center py-3 bg-white fixed-top"
>
  <a href=""><img src="../../assets/Logo.png" width="143px" height="43" /></a>
  <div>
    <a href="#" class="mx-4 text-black fs-6" style="text-decoration: none"
      >Packages</a
    >
    <a href="#" class="mx-4 text-black fs-6" style="text-decoration: none"
      >Offers</a
    >
    <a href="#" class="mx-4 text-black fs-6" style="text-decoration: none"
      >Currency</a
    >
    <a href="#" class="mx-4 text-black fs-6" style="text-decoration: none"
      >Languages</a
    >
    <a href="#" class="mx-4 text-black fs-6" style="text-decoration: none"
      >Contact US</a
    >
  </div>

  <button type="button" class="btn rounded-0" (click)="addEditForm()">
    Add User
  </button>
  <input type="button" value="Sign Up" class="btn rounded-0 px-4" />
</div>
